<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema.Presentacion.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-06UA5QG\SQLEXPRESS;Initial Catalog=dbsistema;User ID=sa;Password=JWw19072018#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>